.library-section {

    padding: 60px 0;

    background: #fff;

}

.library-section-container {

    width: min(760px, 92%);

    margin: auto;

}

.library-section h2 {

    font-size: 32px;

    color: #071b4b;

    margin-bottom: 28px;

    font-weight: 700;

    text-transform: uppercase;

}

.library-section p {

    font-size: 18px;

    line-height: 1.9;

    color: #404040;

    margin-bottom: 20px;

}

.library-section ul {

    padding-left: 22px;

}

.library-section li {

    font-size: 18px;

    line-height: 1.8;

    margin-bottom: 12px;

    color: #404040;

}