.related-library {

    padding: 90px 0;

    background: #fff;

}

.related-library-container {

    width: min(1500px, 92%);

    margin: auto;

}

.related-library h2 {

    font-size: 56px;

    font-weight: 700;

    color: #081b4b;

    margin-bottom: 50px;

}

.related-library h2 span {

    color: #0068d7;

}

.related-library-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

}

@media(max-width:1200px) {

    .related-library-grid {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(max-width:768px) {

    .related-library-grid {

        grid-template-columns: 1fr;

    }

    .related-library h2 {

        font-size: 38px;

    }

}