.job-list {

    padding: 80px 0;

    background: #f7f9fc;

}

.job-grid {

    width: min(1400px, 90%);

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 35px;

}

.empty-jobs {

    text-align: center;

    padding: 100px;

    font-size: 22px;

    color: #777;

}

@media(max-width:1200px) {

    .job-grid {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(max-width:768px) {

    .job-grid {

        grid-template-columns: 1fr;

    }

}